body {
    background-color: #242424;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.game-state-button {
    margin: 20px auto;
    width: 44px;
}

.mole-holes-container {
    display: flex;
    justify-content: space-evenly;
}

.mole-hole-container {
    position: relative;
    overflow: hidden;
    height: 200px;
    display: flex;
    align-items: flex-end;
}

.mole {
    width: 100px;
    height: 150px;
    background-color: #b97a57;
    position: absolute;
    left: 100px;
    bottom: -150px;
    transition: transform 0.33s;
}

.raise-mole {
    transform: translateY(-150px);
}

@keyframes raise-mole {
    100% {
        transform: translateY(-150px);
    }
}